body {
    font-family: Roboto;
    width: 120px;
    padding: 20px;
    text-align: center;
}

h3 {
    color: rgb(192, 41, 41);
}

/* Buttons style */
button {
    width: 80px;
    padding: 10px 20px;
    margin: 3px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    color: antiquewhite;
}

#startBtn {
    background-color: #E34234;
}

#pauseBtn {
    background-color: rgb(0, 122, 120);
}

#resetBtn {
    background-color: rgb(220, 184, 0);
}

#breakBtn {
    background-color: rgb(142, 142, 142);
}

/* Buttons style hovering */

#startBtn:hover,
#pauseBtn:hover,
#resetBtn:hover,
#breakBtn:hover {
    opacity: 0.8;
}

/* Buttons style active */

#startBtn:active,
#pauseBtn:active,
#resetBtn:active,
#breakBtn:active {
    filter: brightness(80%);
}

/* Label text style */

label {
    font-weight: bold;
    font-size: x-large;
}

/* GitHub icon style */
.github-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.github-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.github-icon:hover {
    opacity: 1;
}
